@media screen and (min-width: 500px){
    h6.summaryPrice{
        margin-left: auto !important;
    }
}
@media screen and (min-width: 750px){
    h6.summaryPrice{
        margin-left: 0 !important;
    }
}
@media screen and (min-width: 900px){
    h6.summaryPrice{
        margin-left: auto !important;
    }
}
